POSTGRES_DB=smarthire
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
APP_CORS_ALLOWED_ORIGINS=*
GEMINI_API_KEY=
APP_JWT_SECRET=smarthire-secret-key-smarthire-secret-key-123456
APP_JWT_EXPIRATION_MS=86400000
