html{
    scroll-behavior:smooth;
}/*--it won't suddenly jump.It will slide down.--*/
/*-- .-> class | nothing-> tag ex:section | #-> id --*/
*{
    margin: 0;/*Margin = Outside space*/
    padding: 0;/*Padding = Inside space*/
}
.header{ /*--css properties--*/
    min-height:100vh;
    width:100%;
    background-image:linear-gradient(rgba(25, 53, 166, 0.7)),url(Images/Background_image.png);
    background-position: center;
    background-size: cover;
    position: relative;  
}
nav{
    display: flex;
    padding: 2% 6% ;/*--Internal space--*/
    justify-content: space-between;
    align-items: center;

}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: center; 
    margin: center;   
}
.nav-links ul li{ 
    list-style:none;
    /*--display:inline-block; horizontal--*/
    padding: 8px 12px;/*--space--*/
    position: relative;
}
.nav-links ul li a{
    color: #ffff;
    text-decoration: none; /*--removes underlines--*/
    font-size: 13px;
}
.nav-links a:hover{
    color: rgb(25, 0, 255);
}
.s1{
    color: #fff;
    text-decoration: none;
}
.r1{
    color: #fff;
    text-decoration: none;
}
.a1{
    color: #fff;
    text-decoration: none;
}
.menu-btn{
    background-color:#2563eb;
    color:white;
    border:none;
    border-radius:8px;
    padding:15px 25px;
    margin:6px;
    cursor:pointer;
    font-size:13px;
    transition:0.3s;
}
.menu-btn:hover{
    background-color:#1d4ed8;
    transform:scale(1.05);
}
.upload{
    text-align:center;
    margin: 20px;/*--or you can use section{ margin: 20px}--> this applies to every place where there is <section>--*/
}
.interview{
    text-align: center;
    margin: 20px;
}
.history-table{
    border-collapse: collapse;/*--two cells have single partition rather than a two in between them--*/
    width: 80%; /*--occupies 80% of the available width--*/
    margin:auto;
}
/*Apply the same style to*/
.history-table, /*-- Table--*/
.history-table th,/*--Heading cells--*/
.history-table td{/*--Data cells--*/
border: 1px solid #2563eb;/*--Thickness-Continuous line(or dotted/dashed/double)-colour--*/
}
.history-table th,
.history-table td{
    padding: 10px;/*--space between border and words inside cell--*/
    text-align:center;
}
section{
    text-align:center;
    margin:20px;
}
.card{
    border:2px solid #2563eb;
    width:220px;
    padding:20px;
    margin:20px;
    border-radius:10px;/*--for curved border--*/
    text-align:center;
}
.card-container{
    display:flex; /*--horizontal layout to vertical layout--*/
    gap:20px;/*--gap between cards--*/
    justify-content:center;/*--cards start from center--*/
}
.improv{
    color: green;
    font-weight: bold;
}
.checkbox{
    float: left;
}