DATABASE_URL=postgresql://postgres:Harshitha19@localhost:5432/smarthire_ai
SECRET_KEY=smarthire_super_secret_jwt_key_2026_key_change_in_production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
UPLOAD_DIR=uploads
