fastapi==0.115.6
uvicorn==0.34.0
python-dotenv==1.0.1
pyjwt==2.10.1
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
google-auth==2.37.0
pydantic==2.10.4
email-validator==2.3.0
numpy>=2.0
opencv-python-headless>=4.10
mediapipe>=1.0.1
tensorflow>=2.15
